/* $font-8: 0.8rem;
$font-16: 1.6rem; // standard for p
$font-24: 2.4rem;
$font-32: 3.2rem;
$font-48: 4.8rem;
$font-64: 6.4rem;
$font-95: 9.5rem; */

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* :focus {
    outline: 0;
}

:root {
    font-size: 62.5%;
}

html, .site, .content-area, .site-content {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FDFDFF;
    color: #0f0f0f;
    font-family: 'Lato', sans-serif;
} 

main {
    width: 100%;
    height: 100%;
    background-color: #b1b1b1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: #838383 solid 0.2rem;
}

.interface {
    width: 45rem;
    height: 5rem;
    background-color: #c0c0c0;
    font-size: 1.6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.emoji {
    cursor: pointer;
}

.counter {
    margin: 1rem;
}

.feild {
    width: 45rem;
    height: 24rem;
    background-color: #c0c0c0;

    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border: solid #808080;
    border-width: 0 1px 1px 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #c0c0c0;
    border: 2px outset #ececec;
    font-size: .75rem;
    text-align: center;
    pointer-events: auto;
}

.blank-square {
    width: 1.5rem;
    height: 1.5rem;
    border: solid 1px #808080;
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-square::after {
    display: none;
}

.mine {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e61919;
}

.bomb {
    display: block;
    max-width: 100%;
    max-height: auto;    
}

.flag {
    position: absolute;
    z-index: 1;
    display: block;
    max-width: 100%;
    max-height: auto; 
}
